<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPix</title>
    <link rel="stylesheet" href="/css/mainDash.css">
</head>

<body>
    <%- include('navbar', LoginData) %>
        <h1>ULTIMOS ARTWORKS</h1>
        <div class="container">
            <% for( let index = 0; index < illusts.length; index++ ) { %>
                <div class="image">
                    <a class="card__a"href="/illusts/<%= illusts[index].id %>" style="width: 200px; height: 200px;">
                        <img class="image__img" src="/images<%= illusts[index].thumb_dir.split(".")[1] %>.jpg">
                        <div class="image__overlay">
                            <div class="image__title">
                                <% if (illusts[index].title.length > 5 ) { %>
                                    <%= illusts[index].title.slice(0, 5) %>... 
                                <% } else { %>
                                    <%= illusts[index].title %>
                                <% } %>
                            </div>
                            <div class="author__line">
                                <a class="author__button" href="/users/id">
                                    <img class="author__img" src="/images/img/users/profile/4211525_f2e8643ce2e0f946e46dd93e1f940b9d_170.jpg" alt="">
                                    <p class="author__name">Miraiur</p>
                                </a>
                                
                            </div>
                        </div>
                    </a>  
                </div>
            <% } %>
        </div>
</body>

</html>