<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPix</title>
    <link rel="stylesheet" href="/css/mainDash.css">
</head>

<body>
    <%- include('navbar', LoginData) %>

        <h1 class="title">ULTIMOS ARTWORKS</h1>
        <div class="container">
            <% for( let index = 0; index < illusts.length; index++ ) { %>
                <div class="image">
                    <a class="card__a" href="/illusts/<%= illusts[index].id %>" style="width: 200px; height: 200px;">
                        <img class="image__img" src="/images<%= illusts[index].thumb_dir.split(".")[1] %>.jpg">
                        <div class="image__overlay">
                            <div class="image__title">
                                <% if (illusts[index].title.length > 5 ) { %>
                                    <%= illusts[index].title.slice(0, 5) %>...
                                <% } else { %>
                                    <%= illusts[index].title %>
                                <% } %>
                            </div>
                            <div class="author__line">
                                <a class="author__button" href="/user/<%= illusts[index].author_id %> ">
                                    <img class="author__img" src="/images<%= illusts[index].profile_pic_dir.split(".")[1]+"."+illusts[index].profile_pic_dir.split(".")[2]%>" alt="">
                                    <p class="author__name"><%= illusts[index].nickname %> </p>
                                </a>      
                            </div>
                        </div>
                    </a>  
                </div>
            <% } %>
        </div>

        <h1 class="title">RANKING GLOBAL</h1>
        <div class="container">
            <% if (globalranking) { %>
                <% for( let index = 0; index < globalranking.length; index++ ) { %>
                    <div class="image">
                        <a class="card__a" href="/illusts/<%= globalranking[index].id %>" style="width: 200px; height: 200px;">
                            <img class="image__img" src="/images<%= globalranking[index].thumb_dir.split(".")[1] %>.jpg">
                            <div class="image__overlay">
                                <div class="image__title">
                                    <% if (globalranking[index].title.length > 5 ) { %>
                                        <%= globalranking[index].title.slice(0, 5) %>...
                                    <% } else { %>
                                        <%= globalranking[index].title %>
                                    <% } %>
                                </div>
                                <div class="author__line">
                                    <a class="author__button" href="/user/<%= globalranking[index].author_id %> ">
                                        <img class="author__img" src="/images<%= globalranking[index].profile_pic_dir.split(".")[1]+"."+globalranking[index].profile_pic_dir.split(".")[2]%>" alt="">
                                        <p class="author__name"><%= globalranking[index].nickname %> </p>
                                    </a>
                                    
                                </div>
                            </div>
                        </a>  
                    </div>
                <% } %>
            <% } %>
        </div>
        
        <h1 class="title">ARTISTAS RECOMENDADOS</h1>
        <div class="container">
            <% for( let index = 0; index < rec_artists.length; index++ ) { %>
                <div class="author__card">
                    <a href=/user/<%= rec_artists[index].author_id %> ">
                        <div class="author__header">
                            <img class="author__img" src="/images<%= rec_artists[index].profile_pic_dir.split(".")[1]+"."+rec_artists[index].profile_pic_dir.split(".")[2]%>" alt="">
                            <p class="author__name"><%= rec_artists[index].nickname %> </p>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
</body>

</html>